<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white">
  <!-- Navigation -->
  <nav class="bg-gray-800 py-4">
    <div class="container mx-auto px-4">
      <ul class="flex">
        <li class="mr-6">
          <a href="/" class="text-white">Books</a>
        </li>
        <li class="mr-6">
          <a href="/recommend" class="text-white">Recommender</a>
        </li>
        <li class="mr-6">
            <a href="/about" class="text-white font-bold">About</a>
        </li>
        <li class="mr-6">
          <a href="/contact" class="text-white">Contact</a>
        </li>
    </ul>
    </div>
  </nav>

  <!-- About Us Section -->
  <section class="bg-gray-900 py-16">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold text-white mb-10">About Us</h1>
      <p class="text-lg leading-7 mb-8">
        Welcome to our Book Recommender AI! Our AI-powered website utilizes collaborative filtering techniques to suggest books based on your personal preferences. 
        By collecting ratings from our users, our algorithm is able to recommend books that match your taste and interests.

        In addition to personalized recommendations, our website also features a selection of the top 30 most popular books, as rated by our users. 
        Whether you're looking for a new bestseller or a hidden gem, our website has something for every book lover.
      </p>

      <p class="text-lg leading-7 mb-8">
      At our website, we believe that reading is one of the most enriching and rewarding experiences in life, and we're dedicated to helping you discover your next great read.
      So why not sign up today and start exploring the wonderful world of books with us?
      </p>

      <p class="text-lg leading-7 mb-8">
        Our book recommendation system is constantly evolving and improving to provide you with the best possible reading suggestions. Our AI algorithm learns from your ratings and preferences over time, allowing it to make increasingly accurate recommendations as you continue to use our website.
      </p>

      <p class="text-lg leading-7 mb-8">
        We also take user privacy seriously and ensure that all personal information and book ratings are kept confidential. Our website is easy to navigate and user-friendly, with a simple interface that allows you to easily search for books, rate them, and receive personalized recommendations.
      </p>

      <p class="text-lg leading-7 mb-8">
      Currently, I'm working on Machine Learning & Artificial Intelligence services also. Recently I've completed <a href="#" class="text-blue-500">MOVIE RECOMMENDER ENGINE (AI Project)</a>. And it's ready to launch now!!
      </p>
      <p class="text-lg leading-7">
        If you have any questions, comments, or feedback, please don't hesitate to reach out to us at
        <a href="mailto:deltagon@protonmail.com" class="text-blue-500">deltagon@protonmail.com</a>.
      </p>
    </div>
  </section>

  <footer class="bg-gray-800 py-4">
		<div class="container mx-auto flex justify-between px-4">
		  <p class="text-white">&copy; 2023 Book Recommender AI</p>
		  <p class="text-white">Developed by <a href="https://www.linkedin.com/in/ishtiuk-ahammed/" class="text-blue-500" target="_blank">Md. Ishtiuk Ahammed</a></p>
		</div>
	</footer>

</body>

</html>
