<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
  <style>
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body class="bg-gray-900 text-white">
  <!-- Navigation -->
  <nav class="bg-gray-800 py-4">
    <div class="container mx-auto px-4">
      <ul class="flex">
        <li class="mr-6">
          <a href="/" class="text-white">Books</a>
        </li>
        <li class="mr-6">
          <a href="/recommend" class="text-white">Recommender</a>
        </li>
        <li class="mr-6">
            <a href="/about" class="text-white font-bold">About</a>
        </li>
        <li class="mr-6">
          <a href="/contact" class="text-white">Contact</a>
        </li>
    </ul>
    </div>
  </nav>

  <!-- About Us Section -->
  <section class="bg-gray-900 py-16">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold text-white mb-10">About Us</h1>
      <p class="text-lg leading-7 mb-8">
        Our AI Model basically recommends you based on book's user given ratings. So, it's a Collaborative Filtering Based Recommender System. And it filters top 30 Popular Books for you based on 
        books's aveage rating. These books are at least rated over 200 times.
      </p>
      <p class="text-lg leading-7 mb-8">
      Currently, I'm working on Machine Learning & Artificial Intelligence services also. Recently I've completed <a href="#" class="text-blue-500">MOVIE RECOMMENDER ENGINE (AI Project)</a>. And it's ready to launch now!!
      </p>
      <p class="text-lg leading-7">
        If you have any questions, comments, or feedback, please don't hesitate to reach out to us at
        <a href="mailto:deltagon@protonmail.com" class="text-blue-500">deltagon@protonmail.com</a>.
      </p>
    </div>
  </section>

  <footer class="bg-gray-800 py-4">
		<div class="container mx-auto flex justify-between px-4">
		  <p class="text-white">&copy; 2023 Book Recommender AI</p>
		  <p class="text-white">Developed by <a href="https://www.linkedin.com/in/ishtiuk-ahammed/" class="text-blue-500" target="_blank">Md. Ishtiuk Ahammed</a></p>
		</div>
	</footer>

</body>

</html>
